<figure class="item-card">
	<h3>{{ array_items.name }}</h3>
	<img src="{{ array_items.image_dirrectory }}" alt="{{ array_items.name }}" class="item-card__image"/>
	<figcaption>{{ array_items.description }}</figcaption>
	<h4>Цена: {{ array_items.price }}</h4>
</figure>